<table class="table table-compact">
  <tr>
    <th><%= sort_link 'query', 'query' %></a></th>
    <th><%= sort_link 'calls', 'calls' %></th>
    <th><%= sort_link 'time', 'total_time' %></th>
    <th><%= sort_link 'rows', 'rows' %></th>
    <th><%= sort_link 'sbh', 'shared_blks_hit', 'shared_blks_hit' %></th>
    <th><%= sort_link 'sbr', 'shared_blks_read', 'shared_blks_read' %></th>
    <th><%= sort_link 'sbd', 'shared_blks_dirtied', 'shared_blks_dirtied' %></th>
    <th><%= sort_link 'sbw', 'shared_blks_written', 'shared_blks_written' %></th>
    <th><%= sort_link 'lbh', 'local_blks_hit', 'local_blks_hit' %></th>
    <th><%= sort_link 'lbr', 'local_blks_read', 'local_blks_read' %></th>
    <th><%= sort_link 'lbd', 'local_blks_dirtied', 'local_blks_dirtied' %></th>
    <th><%= sort_link 'tbr', 'temp_blks_read', 'temp_blks_read' %></th>
    <th><%= sort_link 'tbw', 'temp_blks_written', 'temp_blks_written' %></th>
    <th><%= sort_link 'brt', 'blk_read_time', 'blk_read_time' %></th>
    <th><%= sort_link 'bwt', 'blk_write_time', 'blk_write_time' %></th>
  </tr>
  <% @stats.each do |row| %>
    <tr class="<%= row.waste? ? '' : 'success' %>">
      <td><%= row.query %></td>
      <td><%= row.calls %></td>
      <td><%= row.total_time %></td>
      <td><%= row.rows %></td>
      <td><%= row.shared_blks_hit %></td>
      <td><%= row.shared_blks_read %></td>
      <td><%= row.shared_blks_dirtied %></td>
      <td><%= row.shared_blks_written %></td>
      <td><%= row.local_blks_hit %></td>
      <td><%= row.local_blks_read %></td>
      <td><%= row.local_blks_dirtied %></td>
      <td><%= row.temp_blks_read %></td>
      <td><%= row.temp_blks_written %></td>
      <td><%= row.blk_read_time %></td>
      <td><%= row.blk_write_time %></td>
    </tr>
  <% end %>
</table>
